<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <h1>Create Product</h1>
    <form th:action="@{/products/create}" method="post" th:object="${products}">
        Tên
        <input type="text" th:field="*{name}" placeholder="Name">
        Giá
        <input type="text" th:field="*{price}" placeholder="Price">
        <input type="submit" value="Create">
    </form>
    <a th:href="@{/products}">Quay lại List</a>
</body>
</html>